body {
  height: 800 px;
  width: 1400 px;
  text-align: center;
}

main {
  border: 1px solid rgb(139, 12, 133);
  height: 800 px;
  width: 1400 px;
  text-align: center;
}

#color-palette {
  border: 2px solid red;
  text-align: center;
}

.color , .selected {
  display: inline-block;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  text-align: center;
}


#black-1 {
  background-color: black;
}

#red-2 {
  background-color: red;
}

#green-3 {
  background-color: green;
}

#blue-4 {
  background-color: blue;
}

#pixel-board {
  display: inline-block;
  border: 2px solid rgb(10, 168, 37);
  margin: 0;
  padding: 0;
  width: 230px;
  height: 230px;
}

.pixel {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: white;
  margin: 0;
  padding: 0;
}

.selected {
  margin: 0;
}

label {
  border : 1px solid chocolate;
  display: block;
}

button {
  height: 20px;
  width: 45px;
}
