* {
  margin: 0;
  padding: 0;
}

body {
  height: 800 px;
  width: 1400 px;
  text-align: center;
}

main {
  border: 1px solid rgb(139, 12, 133);
  height: 800 px;
  width: 1400 px;
  text-align: center;
}

#color-palette {
  border: 2px solid red;
  text-align: center;
}

.color {
  display: inline-block;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  text-align: center;
}


#blackColor , .selected {
  background-color: black;
}

#pixel-board {
  display: inline-block;
  border: 2px solid rgb(10, 168, 37);
  margin: 0;
  padding: 0;
  width: 230px;
  height: 230px;
  text-align: center;
}

.pixel {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: white;
  margin: 0;
  padding: 0;
}

.selected {
  margin: 0;
}

label {
  border : 1px solid chocolate;
  display: block;
}

button {
  height: 28px;
  width: 100px;
  background-color: rgb(172, 169, 169);
  text-align: center;
  font-family: fantasy;
}

#clear-board {
  background-color: white;
}
